<!-- <div>
    <app-nav-bar></app-nav-bar>
  </div> -->
<div class="container p-4">
    <h2 class="text-center p-4">MY CART</h2>

    <div class="row bg-light">

        <table class="table table--striped-colums">
            <tr>
                <th>PRODUCT NAME</th>
                <th>PRODUCT NUMBER</th>
                <th>PRODUCT STOCK</th>
                <th>PRODUCT IMAGE</th>
                <th>PRODUCT PRICE</th>
                <th>PRODUCT SELLER</th>
                <th>REMOVE</th>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th><a href=""><button class="btn btn-sucess"
                            style="background-color: rgb(207, 50, 50);">REMOVE</button></a></th>
            </tr>

        </table>


        <h1 style="color: red; text-align: center;"><i>cart empty</i></h1>
    </div>
</div>