<footer >
    <div class="row text-center">
        <div class="col-md-2">
            <h1><i>ABOUT</i></h1>
            <p>Lorem ipsum dolo consectetur.</p>
             <p>Lorem ipsum dolor sit amet consectetur.</p>
              <p>Lorem ipsum dolor sit amnsectetur.</p>
               <p>Lorem ipsum dolor sit amet c.</p>
        </div>
        <div class="col-md-2">
            <h1><i>CONDACT</i></h1>
            <p>Lorem ipsum dolo consectetur.</p>
             <p>Lorem ipsum dolor sit amet consectetur.</p>
              <p>Lorem ipsum dolor sit amnsectetur.</p>
               <p>Lorem ipsum dolor sit amet c.</p>
        </div>
        <div class="col-md-2">
            <h1><i>HELP</i></h1>
            <p>Lorem ipsum dolo consectetur.</p>
             <p>Lorem ipsum dolor sit amet consectetur.</p>
              <p>Lorem ipsum dolor sit amnsectetur.</p>
               <p>Lorem ipsum dolor sit amet c.</p>
        </div>
        <div class="col-md-2">
            <h1><i>POLICY</i></h1>
            <p>Lorem ipsum dolo consectetur.</p>
             <p>Lorem ipsum dolor sit amet consectetur.</p>
              <p>Lorem ipsum dolor sit amnsectetur.</p>
               <p>Lorem ipsum dolor sit amet c.</p>
        </div>
        <div class="col-md-2">
            <h1><i>SOCIAL</i></h1>
            <p>Lorem ipsum dolo consectetur.</p>
             <p>Lorem ipsum dolor sit amet consectetur.</p>
              <p>Lorem ipsum dolor sit amnsectetur.</p>
               <p>Lorem ipsum dolor sit amet c.</p>
        </div>
    </div>
</footer>
