<div class="">
    <div class="col-md-2 bg-primary nav" style="height: 100vh; width: 220px;">

        <!-- <div>
            <img src="\components\admin\modules\assets\ku.jp" class="admin_img " alt="" style="width: 200px;
            height: 200px;padding-left: 50px;
            padding-top: 40px;
            border-radius: 100px;">
        </div> -->

        <div class=" pt-5">
            <ul class="list text-light" style="padding-left: 60px;
            font-size: larger;
            list-style-type: none;">
                <li><button class="btn btn-outline-light"><a href="" [routerLink]="'/seller/s-home'" class="li0" style=" text-decoration: none;
                    color:black;">Home</a></button> </li> <br>
                <li><button class="btn btn-outline-light"><a href="" [routerLink]="'/seller/add-p'" class="li0" style=" text-decoration: none;
                    color:black;">add product</a> </button></li> <br>
                <li><button class="btn btn-outline-light"><a href="" [routerLink]="'/seller/profile'" class="li0" style=" text-decoration: none;
                    color: black;">profile</a> </button></li> <br>
                <li><button class="btn btn-outline-light"><a href="" [routerLink]="'/seller/view-product'" class="li0"
                            style=" text-decoration: none;
                    color:black;">Viwe products</a> </button></li> <br>
                <li><button class="btn btn-outline-light"><a href="" [routerLink]="'/seller/change-password'"
                            class="li0" style="text-decoration: none;
                    color:black;">change password</a> </button></li> <br>
                <li><button class="btn btn-outline-light"><a href="" [routerLink]="'/seller/update-stock'" class="li0"
                            style="text-decoration: none;
                    color:black;">update stocks </a></button></li> <br>
                <li><button class="btn btn-outline-light"><a href="" [routerLink]="'/seller/view-order'" class="li0"
                            style="text-decoration: none;
                    color:black;">view Order </a></button></li> <br>
                <li><button class="btn btn-danger"><a href="" [routerLink]="'/seller/view-order'" class="li0"
                            style="text-decoration: none;
                    color:black;">LOG OUT </a></button></li> <br>
            </ul>
        </div>
    </div>