.card{
    height: 250px;
    width: 300px;
    background-color: rgb(217, 191, 191);
    margin-left: 73px;
    text-align: center;
    padding-top: 73px;
    color: rgb(58, 11, 78);
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    border-radius: 100px;
    
}
#div-main{
    background-color: rgb(224, 227, 242);
    /* height: 100vh; */
}
/* #div-main-1{
    background-color: rgb(60, 95, 250);
} */