<!-- <div class="container" style="margin-top: 200px; margin-left:  200px;">
    <div class="row" style="margin: 100px;">
        <div class="col">
            <div class="card" style="font-size: xx-large;">
                <a href="" [routerLink]="'/seller-reg'" style="color: black;" class="navbar-brand">seller-reg</a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="font-size: xx-large;">
                <a href="" [routerLink]="'/seller-login'" style="color: black;" class="navbar-brand">seller login</a>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 100px;">
        <div class="col">
            <div class="card" style="font-size: xx-large;">
                <a href="" [routerLink]="'/customer-register'" style="color: black;" class="navbar-brand">customer-reg</a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="font-size: xx-large;">
                <a href="" [routerLink]="'/customerlogin'" style="color: black;" class="navbar-brand">customerlogin</a>
            </div>
        </div>
    </div>
</div> -->
<div class="row row-cols-1 row-cols-md-2 g-4 p-5 " style="height: 100%;" id="div-main">
    <div class="col" id="div-main">
      <div class="card" >
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <a href="" [routerLink]="'/seller-reg'" class="navbar-brand">seller-reg</a>
        </div>
      </div>
    </div>
    <div class="col" id="div-main">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <a href="" [routerLink]="'/seller-login'"  class="navbar-brand">seller login</a>
        </div>
      </div>
    </div>
    <div class="col" id="div-main">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <a href="" [routerLink]="'/customer-register'" class="navbar-brand">customer-reg</a>
        </div>
      </div>
    </div>
    <div class="col" id="div-main">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <a href="" [routerLink]="'/customerlogin'"  class="navbar-brand">customerlogin</a>
        </div>
      </div>
    </div>
  </div>