<!-- <div>
    <app-nav-bar></app-nav-bar>
</div> -->
<div class="container" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; padding: 3%;">
    <div class="row">
        <div class="col-md-4">
            <div class="n" style="position: sticky; top:10%; margin-bottom: 10px;">
                <img src="" class="card-img-top" id="card" alt="..."><br><br>
                <form method="POST">
                    
                    <button type="submit" class="btn btn-primary" id="btn-sub" [routerLink]="'/cart'">ADD TO CART</button>
                    
                    <a href=""><button type="button" class=" btn btn-primary" id="btn-link"> BUY
                        NOW</button></a>
                </form>
                
            </div>

        </div>
        <div class="col-md-8">
            <div class="card-body" id="">


                <h5 class="card-title"></h5><br>
                <h1 class="card-text"></h1>
                <p class="card-text"></p>
                ipisicing elit. Minima nemo dicta deleniti sequi quasi.
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sit accusamus reiciendis neque
                    eum consectetur veniam autem sint rem voluptas earum numquam laboriosam praesentium sapiente,
                    inventore quos eveniet cumque ullam?</p>

            </div>
        </div>
    </div>
</div>