<div class="row">
    <div class="col-md-2">
        <app-sel-nav></app-sel-nav>
    </div>
    <div class="col p-4">
        <div class="container p-4"  style="background-color: rgb(9, 159, 240);">
            <h1><b><i>CHANGE PASSWORD</i></b></h1>
            <div class="cust p-4">
                <form #form="ngForm" (ngSubmit)="submit(form.value)" class="from1">
                    
                   {{ message }}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" ngModal class="form-label">CURENT PASSWORD</label>
                        <input type="text" ngModel name="old_password" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" ngModal class="form-label">NEW PASSWORD</label>
                        <input type="text" ngModel name="new_password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" ngModal class="form-label">CONFROM PASSWORD</label>
                        <input type="password" ngModel name="confirm_password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">SET PASSWORD</button><br>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
